@using LXP2CYD.Web.Startup
@using LXP2CYD.Web.Models.Common.Modals
@model LXP2CYD.Web.Models.Bursaries.EditBursaryModalViewModel

@{ Layout = null;}

<div class="modal fade" id="BursaryCreateModal" tabindex="-1" role="dialog" aria-labelledby="BursaryCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Create new bursary"))
            <form role="form" class="form-horizontal">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row px">
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label class="col-form-label">Title</label>
                                <input placeholder="What's the bursary about?" type="text" class="form-control" name="Title" required>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label class="col-form-label">Company Name</label>
                                <input placeholder="Company issuing the bursary" type="text" class="form-control" name="CompanyName" required>

                            </div>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label class="col-form-label">Link</label>
                                <input type="text" placeholder="Link to the bursary age" class="form-control" name="Link" required>

                            </div>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label class="col-form-label">Document Url</label>
                                <input type="text" placeholder="Attachments" class="form-control" name="DocumentUrl">

                            </div>
                        </div>
                    </div>

                </div>
                
                @*<div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>*@
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>

        </div>
    </div>
</div>



