@using LXP2CYD.Web.Startup
@using LXP2CYD.Web.Models.Appointment
@model AppointmentListViewModel
@{
    ViewBag.Title = L("Appointments");
    ViewBag.CurrentPageName = PageNames.Appointments;
}
@section scripts
{
    <environment names="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
        <script src="~/js/bootstrap-datetimepicker.min.js"></script>
  
        <script src="~/view-resources/Views/Appointments/Index.js" asp-append-version="true"></script>

    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Appointments/Index.js" asp-append-version="true"></script>
    </environment>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Appointments")</h1>
            </div>
            <div class="col-sm-6 text-right">
                <a href="javascript:;" data-toggle="modal" data-target="#AppointmentCreateModal" class="btn bg-blue float-sm-right">
                    <i class="fa fa-plus-square"></i>
                    @L("Create")
                </a>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card bg-white">
            <div id="calender"></div>
        </div>

    </div>
</section>
@await Html.PartialAsync("~/Views/Appointments/_CreateModal.cshtml", Model)
<div class="modal fade" id="AppointmemtEditModal" tabindex="-1" role="dialog" aria-labelledby="AppointmemtEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>