@using Microsoft.Extensions.Configuration
@inject IConfiguration _config
<!--header-->
<header id="site-header" class="fixed-top" style="background-color:white;height:60px;">
    <div class="container-fluid">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" asp-action="Home" asp-controller="Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="AboutUs" asp-controller="Home">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Programmes" asp-controller="Home">Programmes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="ContactUs" asp-controller="Home">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="SignUp" asp-controller="Account">Register</a>
            </li>
        </ul>
    </div>
</header>
<!--//header-->