@using Microsoft.Extensions.Configuration
@inject IConfiguration _config

<!--header-->
<header id="site-header" class="fixed-top">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand d-flex align-items-center" asp-controller="Home" asp-action="Home">
                    <img src="assets/images/logo.png" alt="" class="mr-1" />@_config["AppName"]
                </a>
            </h1>
            
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Home" asp-controller="Home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="AboutUs" asp-controller="Home">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Programmes" asp-controller="Home">Programmes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ContactUs" asp-controller="Home">Contact Us</a>
                    </li>
                    
                </ul>
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->

            <!-- //Login info partial view -->
                <partial name="_loginInfo" />
        </nav>
    </div>
</header>
<!--//header-->