  <!-- top header -->
<section class="w3l-top-header">
    <div class="container-fluid">
        <div class="top-content-w3ls d-flex align-items-center justify-content-between">
            <div class="top-headers">
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="ContactUs" class="d-sm-block d-none">Have any question ?</a>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i><a href="tel:+1(21) 234 4567">+27(0)41 532 5680</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i><a href="mailto:mail@centerOfHope.com">mail@RipfumeloCenterOfHope.org</a>
                    </li>
                </ul>
            </div>
            <div class="top-headers top-headers-2">
                <ul>
                    <li>
                        <a href="#facebook"><span class="fa fa-facebook"></span></a>
                    </li>
                    <li>
                        <a href="#twitter"><span class="fa fa-twitter"></span></a>
                    </li>
                    <li>
                        <a href="#instagram"><span class="fa fa-instagram"></span></a>
                    </li>
                    <li class="mr-0">
                        <a href="#linkedin"><span class="fa fa-linkedin"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- //top header -->