@using Abp.Authorization.Users
@using LXP2CYD.Web.Models.Common.Modals
@using LXP2CYD.Web.Models.Programmes
@model ProgrammeListViewModel
@{
    Layout = null;
}
<div class="modal fade" id="ProgrammeCreateModal" tabindex="-1" role="dialog" aria-labelledby="ProgrammeCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Create new porgramme"))
            <form name="AppointmentCreateForm" role="form" class="form-horizontal">

                <div class="modal-body">

                    <div class="tab-content mt-2">

                        <div class="row mp-0 p-0">
                            <div class="col-md-12">
                                <div class="form-group required">
                                    <label class="col-form-label">Title</label>
                                    <div class="input-group">
                                        <input placeholder="What's the meeting about?" name="Title" id="Title" type='text' class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group required">
                                            <label class="col-form-label">Start Date</label>
                                            <div class="input-group date" id="startDatePicker">
                                                <input value="@DateTime.Now.ToString("dd-MM-yyyy")" name="StartDate" type='text' class="form-control" />
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <i class="bi-calendar-event"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group required date" id="startTimePicker">
                                            <input name="StartTime" value="@DateTime.Now.TimeOfDay" type='text' class="form-control" />
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <i class="bi-clock"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group required">
                                            <label class="col-form-label">End Date</label>
                                            <div class="input-group date" id="endDatePicker">
                                                <input name="EndDate" value="@DateTime.Now.ToString("dd-MM-yyyy")" type='text' class="form-control" />
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <i class="bi-calendar-event"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group required date" id="endTimePicker">
                                            <input name="EndTime" value="@DateTime.Now.TimeOfDay" type='text' class="form-control" />
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <i class="bi-clock"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-md-12">
                                <div class="form-group required">
                                    <label class="col-form-label">Description</label>
                                    <textarea name="Description" class="form-control" placeholder="What's the programme about?"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-md-12">
                                <div class="form-group required pb-0">
                                    <input type="checkbox" name="IsVirtual" value="true" id="IsVirtual" checked />
                                    &nbsp;
                                    <label class="col-form-label" for="CreateUserIsActive">Is virtual</label>
                                </div>
                            </div>

                        </div>
                        <div id="link_rapper" class="row m-0 p-0">
                            <div class="col-md-12">
                                <div class="form-group required py-0 my-0">
                                    <label class="col-form-label" class="px-1 col-form-label">Link</label>
                                    <input type="text" id="Link" placeholder="Write Link or paste from clipboard" class="form-control" name="Link" />
                                </div>
                            </div>
                        </div>
                        <div style="display: none;" id="location_wrapper" class="form-group required">
                            <label class="px-1 col-form-label">Venue</label>
                            <div class="col-md-12">
                                <input type="text" id="Location" placeholder="Write full address here of the location" class="form-control" name="Location" />
                            </div>
                        </div>
                    </div>

                </div>
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>
